header {
  position: sticky;
  top: 0px;
  z-index: 1;
}

#main-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: rgb(0, 0, 0);
  vertical-align: top;
}

.nav__search {
  padding-left: 10px;
  position: relative;
}

.search-area {
  display: block;
  width: 430px;;
  height: 40px;
  padding: 0 40px;
  border: 1px solid #2C68E7;
  border-radius: 15px;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.search-img {
  position: absolute;
  top: 8px;
  right: 22px;
  /* fill: #2C68E7; */
}
