.main__text-h1 {
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
}

.main__text-btns {
  width: 380px;
}

.main-btn1 {
  border-radius: 12px;
}

.main-btn2 {
  border-radius: 12px;
  width: 166px;
  height: 48px;
}