.main__text-h1 {
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
}

.main__text-btns {
  width: 360px;
}

.main__img-bg{
  position: absolute;
  z-index: -1;
  top: -405px;
  left: -129px;
}