.partnersblocks {
  width: 1120px;
  height: 346px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 64px;
}

.partnersblocks-partners {
  width: 570px;
  height: 346px;
}

.partnersblocks-partners-banner {
  display: grid;
  grid-template-rows: repeat(3, 80px);
  grid-template-columns: repeat(3, 170px);
  grid-row-gap: 32px;
  grid-column-gap: 20px;
  width: 550px;
  height: 304px;
  margin-right: 20px;
  margin-top: 42px;
}

// .partnersblocks-partners-banner-logo {
//   background-color: aqua;
// }

.partnerreviews {
  width: 550px;
  height: 346px;
  flex-direction: column;
}

.partnerreviews-slider {
  display: inline-flex;
  justify-content: space-between;
  width: 265px;
  height: 8px;
}

.partnerreviews-slider-switcher {
  width: 28px;
  height: 8px;
  background: #B4CEFA;
  border-radius: 4px;
}



.comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 550px;
  /* height: 172px; */
  border: 1px solid #B3B3B3;
  border-radius: 12px;
  margin-top: 32px;
}

.comment-reviewer {
  display: inline-flex;
  width: 490px;
  height: 64px;
  margin-bottom: 8px;
  margin-top: 30px;
}

.comment-reviewer-avatar {
  background: rebeccapurple;
  width: 64px;
  height: 64px;
  border-radius: 64px;
  margin-right: 16px;
}

.comment-reviewer-data {
  flex-direction: column;
}

.comment-reviewer-data-post {
  color: #727272;
}

.comment-reviewerinfo {
  width: 490px;
  margin-bottom: 30px;
  max-height: 306px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.yandex {
  background: url(/src/img/patnerslogo/yandex.svg);
}

.yandex:hover {
  background: url(/src/img/patnerslogo/colorize/yandex.png);
}

.ozon {
  background: url(/src/img/patnerslogo/ozon.svg);
}

.ozon:hover {
  background: url(/src/img/patnerslogo/colorize/ozon.png);
}

.wildberries {
  background: url(/src/img/patnerslogo/wildberries.svg);
}

.wildberries:hover {
  background: url(/src/img/patnerslogo/colorize/wildberries.png);
}

.vk {
  background: url(/src/img/patnerslogo/vk.svg);
}

.vk:hover {
  background: url(/src/img/patnerslogo/colorize/vk.png);
}

.rosteh {
  background: url(/src/img/patnerslogo/rosteh.svg);
}

.rosteh:hover {
  background: url(/src/img/patnerslogo/colorize/rosteh.png);
}

.rostelekom {
  background: url(/src/img/patnerslogo/rostelekom.svg);
}

.rostelekom:hover {
  background: url(/src/img/patnerslogo/colorize/rostelekom.png);
}

.econom {
  background: url(/src/img/patnerslogo/econom.svg);
}

.econom:hover {
  background: url(/src/img/patnerslogo/colorize/econom.png);
}

.otr {
  background: url(/src/img/patnerslogo/otr.svg);
}

.otr:hover {
  background: url(/src/img/patnerslogo/colorize/otr.png);
}

.sber {
  background: url(/src/img/patnerslogo/sber.svg);
}

.sber:hover {
  background: url(/src/img/patnerslogo/colorize/sber.png);
}