  .text {
    color: #999999;
  }

  .position {
    width: 100%;

    .regular {
      font-weight: var(--regular);
    }

    .medium {
      font-weight: var(--medium);
    }

    .semiBold {
      font-weight: var(--semiBold);
    }

    .bold {
      font-weight: var(--bold);
    }

    h1 {
      font-size: var(--sizeH1);
      line-height: var(--heightH1);
      color: black;
    }

    h2 {
      font-size: var(--sizeH2);
      line-height: var(--heightH2);
    }

    h3 {
      font-size: var(--sizeH3);
      line-height: var(--heightH3);
    }

    h4 {
      font-size: var(--sizeH4);
      line-height: var(--heightH4);
    }

    h5 {
      font-size: var(--sizeH5);
      line-height: var(--heightH5);
      color: #000000;
    }

    h6 {
      font-size: var(--sizeH6);
      line-height: var(--heightH6);
    }
  }

  .body_styles {
    height: 537px;
    margin-top: 64px;

    .light {
      font-weight: var(--light);
    }

    .regular {
      font-weight: var(--regular);
    }

    .medium {
      font-weight: var(--medium);
    }

    .large {
      font-size: var(--sizeLarge);
      line-height: var(--heightLarge);
    }

    .base {
      font-size: var(--sizeBase);
      line-height: var(--heightBase);
    }

    .small {
      font-size: var(--sizeSmall);
      line-height: var(--heightSmall);
    }

    .xsmall {
      font-size: var(--sizeXSmall);
      line-height: var(--heightXSmall);
    }

    .overline {
      font-size: var(--sizeXSmall);
      line-height: var(--heightXSmall);
      letter-spacing: var(--overline);
      text-transform: uppercase;
    }
  }

  :root {
    /*font weight*/
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semiBold: 600;
    --bold: 700;
    /*overline*/
    --overline: 0.1em;
    /*Для текста*/
    --sizeLarge: 18px;
    --sizeBase: 16px;
    --sizeSmall: 14px;
    --sizeXSmall: 12px;
    --heightLarge: 24px;
    --heightBase: 20px;
    --heightSmall: 16px;
    --heightXSmall: 16px;
    /*Для заголовков*/
    --sizeH1: 48px;
    --sizeH2: 36px;
    --sizeH3: 30px;
    --sizeH4: 24px;
    --sizeH5: 20px;
    --sizeH6: 18px;
    --heightH1: 48px;
    --heightH2: 40px;
    --heightH3: 36px;
    --heightH4: 32px;
    --heightH5: 28px;
    --heightH6: 24px;
  }