/*Цвета*/
$blueYonder: #466EAF;
$white: #FFFFFF;
$black: #000000;
$Grey: #F3F3F3;
$tGrey: #B3B3B3;
$darkGrey: #727272;
$paleCornflowerBlue: #B4CEFA;
$lightBlue: #5788D8;
$cetlicBlue: #326ECF;
$royalBlue: #2C68E7;
$blueberry: #3B82F6;
$cyanCobaltBlue: #2755A1;
$darkBlue: #1E3A8A;
$orange: #E09A30;
$green: #22A317;
$red: #DA0000;
/*Градиенты*/
$gdGrey: linear-gradient(324.55deg, #E3E3E3 13.57%, rgba(227, 227, 227, 0.2) 85.34%);
$gdBlue: linear-gradient(249.49deg, #3B82F6 18.16%, #2755A1 86.45%);
$gdOrange: linear-gradient(90deg, #E06F30 -0.25%, rgb(221, 168, 31) 99.75%);

.body {
	font-family: 'Roboto';
	font-style: normal;
	margin-left: 115.5px;
	width: 1440px;
	height: 1964px;
}

.underLine {
	width: 1440px;
	height: 1px;
	background: #5E5E5E;
}

.element {
    display: flex;
	flex-direction: column;
}

.block {
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
}

.colour {
	width: 70px;
	height: 70px;
	border-radius: 100%;
	border: 1px solid #5E5E5E;
}

.wh {
	background-color: $white;
}
.grey {
	background-color: $Grey;
}
.GDgrey {
	background: $gdGrey;
}
.GDblue {
	background: $gdBlue;
}
.tgrey {
	background-color: $tGrey;
}
.dark{
    background-color: $black;
}
.darkGr {
	background-color: $darkGrey;
}
.lBlue {
	background-color: $lightBlue;
}
.cBlue {
	background-color: $cetlicBlue;
}
.rBlue {
	background-color: $royalBlue;
}
.yblue {
	background: $blueYonder;
}
.ccBlue {
	background-color: $cyanCobaltBlue;
}
.pcfBlue {
	background-color: $paleCornflowerBlue;
}
.blueBerry {
	background-color: $blueberry;
}
.or {
	background-color: $orange;
}
.green {
	background-color: $green;
}
.red {
	background-color: $red;
}
.GDOr {
	background: $gdOrange;
}
.DBlue {
	background: $darkBlue;
}