* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

.container {
    /* margin: 0 auto; */
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-content {
    display: flex;
    justify-content: center;
    width: 1120px;
    padding-top: 20px;
}

.left-nav-logo {
    padding-top: 21px;
    padding-left: 10px;
    padding-right: 10px;
}

.header-title {
    padding-top: 18px;
}

#main-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: black;
}

.left-nav-button {
    padding-top: 16px;
    padding-left: 34px;
}

.left-nav-button-pref {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 139px;
    height: 40px;
    background: #2C68E7;
    border: none;
    border-radius: 8px;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.left-nav-but-vector {
    padding-left: 12px;
    left: 15.62%;
    right: 15.62%;
    top: 29.3%;
    bottom: 29.3%;
    fill:  white;
}

.search-form {
    padding-left: 10px;
    padding-top: 16px;
    position: relative;
    width: 100%;
}

.search-area {
    display: block;
    /* width: calc(100% - 80px); */
    width: 442px;;
    height: 40px;
    padding: 0 40px;
    border: 1px solid #2C68E7;
    border-radius: 15px;
    outline: none;
}

.search-img {
    position: absolute;
    top: 28px;
    right: 16px;
    width: 14px;
    height: 14px;
    fill: #2C68E7;
}

.right-nav-list {
    display: flex;
    list-style: none;
    padding-top: 16px;
    padding-left: 10px;
}

.nav-list-item {

    padding-left: 32px;
}

.nav-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: black;
}