@charset "UTF-8";
body {
  padding: 0px;
  margin: 0pt;
}

.footer {
  /* Шрифт/Цвет фона */
  background: #1E3A8A;
  color: #FFFFFF;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 160px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.bevel {
  background: #1E3A8A;
  padding: 60px 40px;
  -webkit-clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
}

.upper {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0px;
  max-width: 1120px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.logo {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 163px;
  height: 36px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.logo-heading {
  font-weight: 500px;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px;
}

.about__list {
  list-style: none;
  list-style-type: none;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  margin: 0px;
  text-align: center;
  width: 100%;
  height: 36px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.about__item1 {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 6px;
  border-radius: 6px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.about__item2 {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 6px;
  border-radius: 6px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.about__item3 {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 6px;
  border-radius: 6px;
  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}

.about-link:active,
.about-link:hover,
.about-link1 {
  color: #FFFFFF;
  text-decoration: none;
  width: 97px;
  height: 20px;
}

.about-link2 {
  color: #FFFFFF;
  text-decoration: none;
  width: 87px;
  height: 20px;
}

.about-link3 {
  color: #FFFFFF;
  text-decoration: none;
  width: 41px;
  height: 20px;
}

.about-link:active,
.about-link:hover,
.under {
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 32px 0px 64px;
  max-width: 1120px;
  height: 136px;
  /* Footer/White */
  border-top: 1px solid #FFFFFF;
  /* Inside auto layout */
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.company {
  width: 976px;
  height: 40px;
  display: flex;
  align-items: center;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
}

.company__text {
  margin: 0px;
}

.contacts {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 144px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.contacts__list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  margin: 0px;
  gap: 16px;
  width: 144px;
  height: 24px;
  /* Inside auto layout */
}

.contacts__item {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 24px;
  height: 24px;
}/*# sourceMappingURL=footer.css.map */