.banner {
    display: grid;
    grid-template-rows: repeat(3, 80px);
    grid-template-columns: repeat(3, 170px);
    grid-row-gap: 32px;
    grid-column-gap: 20px;
    width: 550px;
    height: 304px;
}

.logo {
    background-color: aqua;
}

.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 550px;
    /* height: 172px; */
    border: 1px solid #B3B3B3;
    border-radius: 12px;
}

.reviewer {
    display: inline-flex;
    width: 490px;
    height: 64px;
    margin-bottom: 8px;
    margin-top: 30px;
}

.data {
    flex-direction: column;
}

.avatar {
    background: rebeccapurple;
    width: 64px;
    height: 64px;
    border-radius: 64px;
    margin-right: 16px;
}

.slider {
    display: inline-flex;
    justify-content: space-between;
    width: 265px;
    height: 8px;
}

.switcher {
    width: 28px;
    height: 8px;
    background: #B4CEFA;
    border-radius: 4px;
}


.reviewerinfo {
    width: 490px;
    margin-bottom: 30px;
    max-height: 306px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}