.about__our-project {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.about__our-project>img {
  width: 100%;
  order: 2;
  height: 434px;
  width: 548px;
  left: 568px;
  top: 0px;
  border-radius: 0px;
}

.about__our-project-text {
  order: 0;
}

.about__our-project-text h2 {
  padding-bottom: 32px;
}

.about__label {
  background: $gd-blue;
  height: 148px;
  margin-top: 72px;

  &-card {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }

  &-item {
    width: 100%;
    margin-top: 26px;
    border-bottom: 52px;
    width: 360px;
    height: 96px;
    background: $white;
    border-radius: 50px;
    text-align: center;
    padding-top: 16px;
    box-sizing: border-box;
  }
}

.about__history {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__history>img {
  height: 532px;
  width: 100%;
  order: 1;
}

.about__history-text {
  padding-right: 20px;
  order: 2;
}

.about__history-text h3 {
  margin-bottom: 16px;
}

.about__our-team {
  max-width: 1150px;

  &_img {
    width: 233px;
    height: 184px;
    margin-bottom: 8px;
  }

  &-block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 16px;
  }

  &-card {
    height: 240px;
    background: $white;
    padding: 16px;
    outline: 1px solid $gray-2;
    border-radius: 12px;

    &>div {
      color: $gray-3;
    }
  }
}

.about__our-team h3 {
  margin-bottom: 32px;
}

//noteboock
@media screen and (max-width: 768px) {

  .about__our-project {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 952px;
    height: 388px;
    padding: 0 0 0 50px;
  }

  .about__label-item {
    width: 306.78px;
    height: 96px;
  }

  .about__history {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 952px;
    height: 388px;
    padding: 0 0 0 50px;
  }

  .about__history>img {
    width: 486px;
    height: 382px;
  }

  .about__our-team-card {
    width: 225px;
    height: 272px;
  }

  .about__our-team-card>img {
    width: 193px;
    height: 184px;
  }

  .about__our-team {
    width: 50%;
    width: 1024px;
  }

}


@media screen and (max-width: 1024px) {

  .about__our-project {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 952px;
    height: 388px;
    width: 60%;
    padding: 0 0 0 25px;
  }

  .about__our-project>img {
    width: 470px;
    height: 369px;

  }

  .about__our-project p {
    width: 470px;
  }

  .about__label-card {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
  }

  .about__label-item {
    width: 250.45px;
    height: 88px;

  }

  .about__history {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 952px;
    height: 388px;
    padding: 0 0 0 0px;
  }

  .about__history p {
    width: 454px;
  }

  .about__history>img {
    width: 342px;
    height: 295px;
  }

  .about__our-team {
    width: 110%;
    width: 980px;
  }

  .about__our-team-card {
    width: 221.33px;
    height: 272px;
  }

  .about__our-team-card>img {

    width: 189.33px;
    height: 184px;

  }


}

@media screen and (max-aspect-ratio:2/3) {
  .about__our-project {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    width: 343px;
    min-height: 464px;
    padding-bottom: 44px;
    column-gap: 20px;
    margin-top: 60px;
  }

  .about__our-project-text p {
    width: 353px;
    text-align: center;
  }

  .about__our-project-text h2 {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    font-size: var(--sizeH3);
    line-height: var(--heightH3);
  }

  .about__our-project>img {
    width: 343px;
    height: 268px;
    padding-right: 25px;
  }


  .about__label {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    width: 375.34px;
    min-height: 336px;
    column-gap: 20px;
    margin-top: 120px;
  }

  .about__label-card {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    width: 343px;
    padding-bottom: 25px;
    column-gap: 20px;

  }

  .about__label-item {
    width: 343.34px;
    height: 88px;
  }

  .about__history {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    width: 343px;
    min-height: 464px;
    padding-bottom: 44px;
    column-gap: 20px;
    margin-top: 150px;
  }

  .about__history h3 {
    display: flex;
    justify-content: center;
  }

  .about__history p {
    width: 353px;
    text-align: center;
  }

  .about__history>img {
    width: 343px;
    height: 295px;
  }

  .about__our-team {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-around;
    width: 343px;
    min-height: 464px;
    padding-bottom: 44px;
    width: 50%;
    margin-top: 150px;
  }

  .about__our-team h3 {
    display: flex;
    justify-content: center;
  }

  .about__our-team-block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 16px;
  }

  .about__our-team-card {
    width: 133.5px;
    height: 272px;
  }

  .about__our-team-card>img {
    width: 133.5px;
    height: 184px;

  }
}