.about__our-project {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__our-project>img {
  max-width: 100%;
  order: 2;
  height: 434px;
  width: 548px;
  left: 568px;
  top: 0px;
  border-radius: 0px;
}

.about__our-project-text {
  order: 0;
}

.about__our-project-text h2 {
  margin-bottom: 32px;
}

.about__label {
  background: $gd-blue;
  height: 148px;
  width: 100%;
  margin-top: 72px;

  &-card {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }

  &-item {
    margin-top: 26px;
    border-bottom: 52px;
    width: 360px;
    height: 96px;
    background: $white;
    border-radius: 50px;
    text-align: center;
    padding-top: 16px;
    box-sizing: border-box;
  }
}

.about__history {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__history>img {
  height: 532px;
  max-width: 100%;
  order: 1;
}

.about__history-text {
  padding-right: 20px;
  order: 2;
}

.about__history-text h3 {
  margin-bottom: 16px;
}

.about__our-team {
  max-width: 100%;

  &_img {
    width: 233px;
    height: 184px;
    margin-bottom: 8px;
  }

  &-block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 16px;
  }

  &-card {
    height: 240px;
    background: $white;
    padding: 16px;
    outline: 1px solid $gray-2;
    border-radius: 12px;

    &>div {
      color: $gray-3;
    }
  }
}

.about__our-team h3 {
  margin-bottom: 32px;
}

//noteboock
@media (max-width: 1024px) {
  .container {
    width: 100%;
  }

  .about__our-project {
    width: 97%;

  }

  .about__our-project-text {
    padding-left: 40px;
  }

  .about__label-card {
    width: 97%;
  }

  .about__label-item {
    width: 306.78px;
    height: 96px;
  }

  .about__our-project>img {
    width: 100%;
    padding-left: 10px;
  }

  .about__history {
    width: 97%;
  }

  .about__history>img {
    width: 486px;
    height: 382px;
    padding-left: 20px;
  }

  .about__history-text {
    padding-left: 20px;
  }

  .about__history-text h3 {
    margin-bottom: 16px;
    padding-top: 50px;
  }

  .about__our-team {
    width: 100%;
    padding-top: 100px;
  }

  .about__our-team h3 {
    padding-left: 30px;
  }

  .about__our-team-card>img {
    width: 193px;
    height: 184px;
  }



  .about__our-team-card {
    width: 193px;
    height: 272px;
  }


}


@media (max-width: 768px) {

  .container {
    width: 100%;
  }

  .about__our-project {
    width: 70%;
  }

  .about__our-project>img {
    width: 385px;
  }

  .about__label-card {
    width: 97%;
  }


  .about__our-team {
    width: 80%;
  }

}

@media (max-width: 375px) {



  .about__our-project {
    width: 60%;
  }

  .about__our-team-card {
    width: 30%;
  }
}