.header_btn_categories {
    position: absolute;
    width: auto;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    margin-top: 20px;
    box-sizing: border-box;
    padding: 8px 8px 8px 8px;
    z-index: -999;
}

.btn_category_list {
    position: relative;
    // top: 5px;
}

.btn_category_item {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    width: 302px;
    height: 40px;
    // padding: 4px 6px;
    gap: 9px;
}

.btn_category_item:hover {
    background: $blue-4;
    border-radius: 8px;
    text-decoration: none;
    color: $white;
}

.categ-icon {
    padding-left: 8px;  
    color: $blue-2;    
}
