.header_btn_categories {
    width: 318px;
    height: 628px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 12px
}

.btn_category_item {
    text-decoration: none;
}