// .mainproducts {
//   display: flex;
//   width: 1120px;
//   height: 530px;
//   flex-direction: column;
//   /* margin-left: 150px; */
//   margin: 0 auto;
//   margin-top: 128px;
// }

.mainproducts-infotext {
  text-align: center;
  line-height: 38px;
  margin-bottom: 64px;
  width: 1120px;
  height: 38px;
}

.blockcategory {
  display: flex;
}

.blockcategory-navmenu {
  width: 360px;
  height: 352px;
  margin-top: 30px;
  margin-right: 20px;
  list-style: none;
}

// .blockcategory-navmenu ul {
//   list-style: none;
//   padding: 0;
//   margin: 0;
// }

// .blockcategory-navmenu-navigation a:before {
//   content: url('data:image/svg+xml;utf8,<svg width="20px" height="20px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><rect x="1" y="1" rx="6" ry="6" width="18" height="18" style="fill:transparent;stroke:black;stroke-width:1.1;opacity:0.9" ></rect></svg>');
//   vertical-align: middle;
//   display: inline-block;
//   width: 24px;
// }


// li {
//   background: url(/src/img/icons/antivirus.svg) no-repeat 20px 20px transparent;
//   list-style-type: none;
//   margin: 0;
//   padding: 12px 0px 0px 30px;
//   vertical-align: middle;
// }


// .defender a:before {
//   content: url('/src/img/icons/antivirus.svg');
//   vertical-align: middle;
//   display: inline-block;
//   line-height: 20px;
//   width: 24px;
// }

// .defender a:before {
//   content: url('');
//   vertical-align: middle;
//   display: inline-block;
//   line-height: 20px;
//   width: 24px;
// }

// .browsers a:before {
//   content: url('/src/img/icons/browser.svg');
//   vertical-align: middle;
//   display: inline-block;
//   line-height: 20px;
//   width: 24px;
// }

// .conferences a:before {
//   content: url('/src/img/icons/video-conference.svg');
//   vertical-align: middle;
//   display: inline-block;
//   line-height: 20px;
//   width: 24px;
// }

// .grapheditor a:before {
//   content: url('/src/img/icons/designers.svg');
//   vertical-align: middle;
//   display: inline-block;
//   line-height: 20px;
//   width: 24px;
// }

// .messenger a:before {
//   content: url('/src/img/icons/messageres.svg');
//   vertical-align: middle;
//   display: inline-block;
//   line-height: 20px;
//   width: 24px;
// }

// .opersys a:before {
//   content: url('/src/img/icons/os.svg');
//   vertical-align: middle;
//   display: inline-block;
//   line-height: 20px;
//   width: 24px;
// }

// .tasktracker a:before {
//   content: url('/src/img/icons/task-tracker.svg');
//   vertical-align: middle;
//   display: inline-block;
//   line-height: 20px;
//   width: 24px;
// }

// .tasktracker a:before {
//   content: url('/src/img/icons/task-tracker.svg');
//   vertical-align: middle;
//   display: inline-block;
//   line-height: 20px;
//   width: 24px;
// }


.blockcategory-navmenu-navigation li a {
  display: block;
  /* background: white; */
  text-align: left;
  color: black;
  text-decoration: none;
  // padding-left: 15px;
  line-height: 40px;

  height: 40px;
}


.blockcategory-navmenu-navigation li a {
  display: block;
  margin: 0;
  // padding-left: 28px;
  margin-left: 8px;
  width: 332px;
}

.blockcategory-navmenu-navigation li {
  list-style-type: none;
  display: flex;
  align-items: center;
  color: #2755A1;
  padding-left: 32px;
}


.blockcategory-navmenu-navigation li:hover {
  border-radius: 5px;
  color: white;
  background: #2C68E7
}

.blockcategory-navmenu-navigation li a:hover {
  color: white;
}

.category {
  display: grid;
  grid-template-rows: repeat(2, 132px);
  /* высота блока внутри контейнера */
  grid-template-columns: repeat(2, 360px);
  /* ширина блока внутри контейнера */
  grid-row-gap: 16px;
  /* отступы между блоками */
  grid-column-gap: 20px;
  /* отступы сбоку между блоками */
  width: 740px;
  /* ширина контейнера */
  height: 428px;
  /* высота контейнера */
}

.category-container {
  display: flex;
  width: 360px;
  height: 132px;
  border: solid gray;
  border-width: 1px;
  border-radius: 10px;
  background-color: white;
}

.category-container-logo img {
  width: 116px;
  height: 116px;
  margin: 8px 8px 8px 8px;
  border-radius: 4px;
  flex: none;
}

.category-container-main {
  flex-direction: column;
  margin-right: 8px;
  width: 220px;
  height: 115px;
}

.category-container-main-title {
  width: 220px;
  display: inline-flex;
  justify-content: space-between;
}

.category-container-main-title-name {
  line-height: 24px;
  width: 204px;
  height: 28px;
  margin-bottom: 4px;
  margin-top: 8px;
}

.category-container-main-title-button {
  width: 16px;
  height: 16px;
  line-height: 16px;
  color: white;
  background: #2755A1;
  border-radius: 8px;
  // align-items: center;
  box-sizing: border-box;
  padding-left: 1px;
  margin-top: 12px;
}


.category-container-main-description {
  white-space: normal;
  overflow: hidden;
  width: 220px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  color: #727272;
}

/* @media (max-width: 736px) {
  .container:nth-child(n+4) {
      display: none;
  }
} */