/* Colors */
$white: #ffffff;
$black: #222;

$blue-1: #b4cefa;
$blue-2: #5788d8;
$blue-3: #326ecf;
$blue-4: #2c68e7;
$blue-5: #3b82f6;
$blue-6: #466eaf;
$blue-7: #2755a1;
$blue-8: #1e3a8a;
$blue-9: #0B4DD8;
$blue-10:#6793DC;

$gray-1: #f3f3f3;
$gray-2: #b3b3b3;
$gray-3: #727272;
$gray-4: #374151;
$gray-5: #6B7280;
$gray-6: #D4D4D4;

$orange: #e09a30;
$green: #22a317;
$red: #da0000;
$brown: #745921;

/* Gradients */
$gd-gray: linear-gradient(324.55deg,#e3e3e3 13.57%,rgba(227, 227, 227, 0.2) 85.34%);
$gd-blue: linear-gradient(249.49deg, #3b82f6 18.16%, #2755a1 86.45%);
$gd-orange: linear-gradient(90deg, #e06f30 -0.25%, rgb(221, 168, 31) 99.75%);
