.infoblock {
  display: flex;
  width: 1120px;
  height: 452px;
  padding-bottom: 44px;
}

.infoblock-logo {
  width: 550px;
  height: 452px;
}

.infoblock-text {
  width: 550px;
  height: 452px;
  justify-content: center;
}

.infoblock-text1 {
  margin-top: 142px;
  margin-bottom: 24px;
  width: 500px;
  height: 120px;

  margin-left: 50px;
}

.infoblock-text2 {
  width: 500px;
  margin-left: 50px;
  height: 24px;
}

.nameapp-area,
.mail-area {
  display: block;
  width: 470px;
  height: 40px;
  padding: 0 40px;
  border: 1px solid #2c68e7;
  border-radius: 15px;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

// .infoproduct {
//     width: 510px;
// }

.form-infoproduct-textarea {
  display: block;
  padding: 10px 20px;
  resize: none;
  width: 510px;
  height: 164px;
  // padding: 0 20px;
  border: 1px solid #2c68e7;
  border-radius: 15px;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

// .form-callback {
//     padding-bottom: 64px;
// }

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 550px;
  // height: 356px;
  height: 382px;
  grid-gap: 24px;
  padding-bottom: 64px;
}

.btn-form {
  width: 113px;
  height: 40px;
}

.btn-send {
  align-self: flex-end;
}

.nameapp-area,
.mail-area {
  height: 40px;
}

.copyright {
  display: flex;
  flex-direction: column;
  width: 1112px;
  height: 420px;
  // background-color: #2ce72c8f;
}

.copyright-title {
  text-align: center;
  height: 44px;
  margin-bottom: 28px;
  // background-color: coral;
}

.copyright-text {
  display: flex;
  flex-direction: row;
  width: 1112px;
  height: 352px;

  // background-color: crimson
}

.copyright-text-left,
.copyright-text-right {
  display: flex;
  flex-direction: column;
  width: 546px;
  height: 340px;
}

.copyright-text-left {
  margin-right: 20px;
}

.copyright-text-left-one {
  height: 84px;
  margin-bottom: 16px;
}

.copyright-text-left-two {
  height: 252px;
  // margin-bottom: 16px;
}

.copyright-text-right-one {
  height: 56px;
  margin-bottom: 16px;
}

.copyright-text-right-two {
  height: 120px;
}

.copyright-text-right-three {
  height: 144px;
}

.mail {
  display: flex;
  flex-direction: column;
  width: 1112px;
  height: 88px;
  text-align: center;
}

.mail-text-one {
  height: 32px;
  margin-bottom: 16px;
}

.mail-text-two {
  height: 40px;
  color: #2755a1;
}

.input-left-icon {
  float: left;
  margin-left: 15px;
  margin-top: -31px;
  position: relative;
  z-index: 2;
  color: #2755a1;
}

// .edit-input {
//     display: inline-block;
// }

// .form-nameapp:before {
//     // background: url(/src/img/icons/edit.svg) no-repeat center left 10px;
//     content: "\e91b";
//     background-size: 20px 20px;
// }

// .email-input {
//     top: 645px;
//     // bottom: 0px;
//     left: 450px;
// }
