.infoblock,
.mail,
.form,
.copyright {
  margin: 0 auto;
}

.infoblock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 1120px;
  height: 452px;
  padding-bottom: 44px;
  column-gap: 20px;
  row-gap: 24px;

}

.infoblock-logo {
  width: 550px;
  height: 452px;
}

.mail-text-two-emaillink {
  text-decoration: none;
}

.infoblock-text1 {
  width: 550px;
  height: 120px;
}

.infoblock-text2 {
  width: 550px;
  height: 24px;
}

.nameapp-area,
.mail-area {
  display: block;
  width: 470px;
  height: 40px;
  padding: 0 40px;
  border: 1px solid $blue-4;
  border-radius: 12px;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.form-infoproduct-textarea {
  display: block;
  padding: 10px 20px;
  resize: none;
  width: 510px;
  height: 164px;
  border: 1px solid $blue-4;
  border-radius: 15px;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}


.form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 550px;
  height: 382px;
  grid-gap: 24px;
  padding-bottom: 64px;
}

.btn-form {
  width: 113px;
  height: 40px;
}

.btn-send {
  align-self: flex-end;
}

.nameapp-area,
.mail-area {
  height: 40px;
}

// .copyright {
//   display: flex;
//   flex-direction: column;
//   width: 1112px;
//   height: 420px;
//   padding-bottom: 64px;
// }

// .copyright-title {
//   text-align: center;
//   height: 44px;
//   margin-bottom: 28px;
// }

// .copyright-text {
//   display: flex;
//   flex-direction: column;
//   flex-wrap: wrap;
//   column-gap: 20px;
//   row-gap: 16px;
//   width: 1112px;
//   height: 352px;
// }

// .size {
//   width: 546px;
// }

.copyright {
  display: flex;
  flex-direction: column;
  width: 1112px;
  height: 438px;
  padding-bottom: 124px;
}

.copyright-title {
  text-align: center;
  height: 44px;
  margin-bottom: 48px;
}

.copyright-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 12px;
  width: 1112px;
  height: 360px;
}

.size {
  width: 546px;
}

.mail {
  display: flex;
  flex-direction: column;
  width: 1112px;
  height: 88px;
  text-align: center;
}

.mail-text-one {
  height: 32px;
  margin-bottom: 16px;
}

.mail-text-two {
  height: 40px;
  color: $blue-7;
}

.input-left-icon {
  float: left;
  margin-left: 15px;
  margin-top: -29px;
  position: relative;
  z-index: 0;
  color: $blue-7;
}

.error-input {
  display: block;
  width: 470px;
  height: 100px;
  margin: 0 auto;
}


//1024 
@media screen and (max-width:768px) {
  .infoblock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 960px;
    height: 385px;
    padding-bottom: 44px;
    column-gap: 20px;
    row-gap: 24px;

  }

  .infoblock-logo {
    width: 470px;
    height: 385px;

  }

  .infoblock-logo-pic {
    width: 470px;
    height: 385px;
  }


  .infoblock-text1-h {
    font-size: var(--sizeH3);
    line-height: var(--heightH3);
  }

  .infoblock-text1 {
    width: 470px;
    height: 108px;
  }

  .infoblock-text2 {
    width: 470px;
    height: 24px;
  }

  .form-callback {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 550px;
    height: 382px;
    grid-gap: 24px;
    padding-bottom: 64px;
  }


  .copyright {
    display: flex;
    flex-direction: column;
    width: 952px;
    height: 388px;
    padding-bottom: 64px;
  }

  .copyright-title {
    text-align: center;
    height: 44px;
    margin-bottom: 28px;
  }

  .copyright-title-h {
    font-size: var(--sizeH4);
    line-height: var(--heightH4);
  }

  .alta {
    font-size: 18px;
    line-height: 24px;
  }

  .copyright-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 12px;
    width: 952px;
    height: 320px;
  }

  .size {
    width: 466px;
    font-size: var(--sizeBase);
    line-height: var(--heightBase);
  }

  .mail {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    width: 952px;
    height: 80px;
    text-align: center;
  }

  .mail-text-one-h {
    font-size: var(--sizeH5);
    line-height: var(--heightH5);
  }

  .mail-text-two-emaillink-h {
    font-size: var(--sizeH3);
    line-height: var(--heightH3);
  }

  .mail-text-one {
    width: 952px;
    height: 20px;
  }

  .mail-text-two {
    width: 952px;
    height: 30px;
    color: #2755a1;
  }

}


//768
@media screen and (max-width:1024px) {
  .infoblock {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 704px;
    height: 292px;
    padding-bottom: 44px;
    column-gap: 20px;
    row-gap: 24px;

  }

  .infoblock-logo,
  .infoblock-logo-pic {
    width: 342px;
    height: 292px;

  }

  .infoblock-text1-h {
    font-size: var(--sizeH4);
    line-height: var(--heightH4);
  }

  .infoblock-text1 {
    width: 342px;
    height: 96px;
  }

  .infoblock-text2 {
    width: 342px;
    height: 16px;
  }

  .infoblock-text2-size {
    font-size: var(--sizeXSmall);
    line-height: var(--heightXSmall);
  }

  .form-callback {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 550px;
    height: 382px;
    grid-gap: 24px;
    padding-bottom: 64px;
  }

  .btn-send {
    align-self: center;
  }

  .copyright {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 704px;
    height: 500px;
    padding-bottom: 64px;
  }

  .copyright-title {
    text-align: center;
    height: 44px;
    margin-bottom: 28px;
  }

  .copyright-title-h {
    font-size: var(--sizeH4);
    line-height: var(--heightH4);
  }

  .alta {
    font-size: 18px;
    line-height: 24px;
  }

  .copyright-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 12px;
    width: 704px;
    height: 500px;
  }

  .size {
    width: 324px;
    font-size: var(--sizeBase);
    line-height: var(--heightBase);
  }

  .mail {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    row-gap: 16px;
    width: 704px;
    height: 80px;
    text-align: center;
  }

  .mail-text-one-h {
    font-size: var(--sizeH5);
    line-height: var(--heightH5);
  }

  .mail-text-two-emaillink-h {
    font-size: var(--sizeH3);
    line-height: var(--heightH3);
  }

  .mail-text-one {
    width: 704px;
    height: 20px;
  }

  .mail-text-two {
    width: 704px;
    height: 30px;
    color: #2755a1;
  }

}

//375
@media screen and (max-aspect-ratio:2/3) {
  .infoblock {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    width: 343px;
    min-height: 464px;
    padding-bottom: 44px;
    column-gap: 20px;
    // row-gap: 24px;

  }

  .infoblock-logo,
  .infoblock-logo-pic {
    width: 343px;
    height: 296px;

  }

  .infoblock-text1-h {
    text-align: center;
    font-size: var(--sizeH5);
    line-height: var(--heightH5);
  }

  .infoblock-text1 {
    text-align: center;
    width: 343px;
    order: -2;
    height: 84px;
  }

  .infoblock-text2 {
    text-align: center;
    width: 343px;
    order: -1;
    height: 40px;
  }

  .infoblock-text2-size {
    font-size: var(--sizeBase);
    line-height: var(--heightBase);
  }

  .form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex-wrap: nowrap;
    width: 343px;
    height: 382px;
    grid-gap: 24px;
    padding-bottom: 64px;
  }



  .nameapp-area,
  .mail-area {
    display: block;
    width: 260px;
    height: 40px;
    padding: 0 40px;
    border: 1px solid $blue-4;
    border-radius: 12px;
    outline: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  .error-input {
    display: block;
    width: 260px;
    height: 100px;
    margin: 0 auto;
  }

  .form-infoproduct-textarea {
    display: block;
    resize: none;
    width: 300px;
    height: 164px;
    border: 1px solid $blue-4;
    border-radius: 15px;
    outline: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  .btn-send {
    align-self: center;
  }

  .copyright {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    // flex-wrap: nowrap;
    width: 343px;
    height: 948px;
    padding-bottom: 64px;
  }

  .copyright-title {
    text-align: center;
    height: 44px;
    margin-bottom: 28px;
  }

  .copyright-title-h {
    font-size: var(--sizeH5);
    line-height: var(--heightH5);
  }

  .alta {
    font-size: var(--sizeH6);
    line-height: var(--heightH6);
  }

  .copyright-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 12px;
    width: 343px;
    height: 948px;
  }

  .size {
    width: 343px;
    font-size: var(--sizeBase);
    line-height: var(--heightBase);
  }

  .mail {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    row-gap: 16px;
    width: 343px;
    height: 122px;
    text-align: center;
  }

  .mail-text-one-h {
    font-size: var(--sizeH5);
    line-height: var(--heightH5);
  }

  .mail-text-two-emaillink-h {
    font-size: var(--sizeH3);
    line-height: var(--heightH3);
  }

  .mail-text-one {
    width: 343px;
    height: 56px;
  }

  .mail-text-two {
    width: 343px;
    height: 36px;
    color: #2755a1;
  }

}