.infoblock {
  display: flex;
  width: 1120px;
  height: 452px;
  padding-bottom: 44px;

}

.infoblock-logo {
  width: 550px;
  height: 452px;
  padding-left: 20px;
}

.mail-text-two-emaillink {
  text-decoration: none;
}

.infoblock-text {
  width: 550px;
  height: 452px;
  justify-content: center;
}

.infoblock-text1 {
  margin-top: 142px;
  margin-bottom: 24px;
  width: 500px;
  height: 120px;

  margin-left: 50px;
}

.infoblock-text2 {
  width: 500px;
  margin-left: 50px;
  height: 24px;
}

.nameapp-area,
.mail-area {
  display: block;
  width: 470px;
  height: 40px;
  padding: 0 40px;
  border: 1px solid #2c68e7;
  border-radius: 15px;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.form-infoproduct-textarea {
  display: block;
  padding: 10px 20px;
  resize: none;
  width: 510px;
  height: 164px;
  border: 1px solid #2c68e7;
  border-radius: 15px;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}


.form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 550px;
  height: 382px;
  grid-gap: 24px;
  padding-bottom: 64px;
}

.btn-form {
  width: 113px;
  height: 40px;
}

.btn-send {
  align-self: flex-end;
}

.nameapp-area,
.mail-area {
  height: 40px;
}

.copyright {
  display: flex;
  flex-direction: column;
  width: 1112px;
  height: 420px;
  padding-bottom: 64px;
}

.copyright-title {
  text-align: center;
  height: 44px;
  margin-bottom: 28px;
}

.copyright-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 16px;
  width: 1112px;
  height: 352px;
}

.size {
  width: 546px;
}

.mail {
  display: flex;
  flex-direction: column;
  width: 1112px;
  height: 88px;
  text-align: center;
}

.mail-text-one {
  height: 32px;
  margin-bottom: 16px;
}

.mail-text-two {
  height: 40px;
  color: #2755a1;
}

.input-left-icon {
  float: left;
  margin-left: 15px;
  margin-top: -31px;
  position: relative;
  z-index: 2;
  color: #2755a1;
}