@font-face {
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 100 1000;
    font-stretch: 100%;
    font-display: swap;
    src: url(fonts/RobotoFlex-cyrillic.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }

  @font-face {
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 100 1000;
    font-stretch: 100%;
    font-display: swap;
    src: url(fonts/RobotoFlex-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

// SVG

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?wteiud');
    src: url('../fonts/icomoon.eot?wteiud#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?wteiud') format('truetype'),
        url('../fonts/icomoon.woff?wteiud') format('woff'),
        url('../fonts/icomoon.svg?wteiud#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


    span.px64{
        font-size: 64px;
    }
    span.px48::before{
        font-size: 48px;
    }
    span.px32::before{
        font-size: 32px;
    }
    span.px24::before{
        font-size: 24px;
    }
    span.px20::before{
        font-size: 20px;
    }
    span.px16::before{
        font-size: 16px;
    }
    span.px14::before{
        font-size: 14px;
    }


.icon-info:before {
    content: "\e919";
}

.icon-analog:before {
    content: "\e900";
}

.icon-close:before {
    content: "\e90c";
}

.icon-cloud:before {
    content: "\e90d";
}

.icon-file-text:before {
    content: "\e916";
}

.icon-logo24:before {
    content: "\e91a";
}

.icon-logo32:before {
    content: "\e91b";
}

.icon-mail:before {
    content: "\e91c";
}

.icon-menu:before {
    content: "\e91f";
}

.icon-message:before {
    content: "\e920";
}

.icon-pointer:before {
    content: "\e924";
}

.icon-search-content:before {
    content: "\e929";
}

.icon-star-bold:before {
    content: "\e92f";
}

.icon-video:before {
    content: "\e934";
}

.icon-antivirus:before {
    content: "\e901";
}

.icon-browser:before {
    content: "\e902";
}

.icon-caret-down:before {
    content: "\e903";
}

.icon-caret-up:before {
    content: "\e904";
}

.icon-checkbox:before {
    content: "\e905";
}

.icon-checkbox-fill:before {
    content: "\e906";
}

.icon-checkmark-circle:before {
    content: "\e907";
}

.icon-chevron-double-left:before {
    content: "\e908";
}

.icon-chevron-double-right:before {
    content: "\e909";
}

.icon-chevron-l:before {
    content: "\e90a";
}

.icon-chevron-r:before {
    content: "\e90b";
}

.icon-crm:before {
    content: "\e90e";
}

.icon-designers:before {
    content: "\e90f";
}

.icon-desktop:before {
    content: "\e910";
}

.icon-dev:before {
    content: "\e911";
}

.icon-document-edit:before {
    content: "\e912";
}

.icon-document-sync:before {
    content: "\e913";
}

.icon-edit:before {
    content: "\e914";
}

.icon-external-link:before {
    content: "\e915";
}

.icon-filter:before {
    content: "\e917";
}

.icon-home:before {
    content: "\e918";
}

.icon-mark-email-read:before {
    content: "\e91d";
}

.icon-marketing:before {
    content: "\e91e";
}

.icon-messageres:before {
    content: "\e921";
}

.icon-mobile:before {
    content: "\e922";
}

.icon-os:before {
    content: "\e923";
}

.icon-radio-checked:before {
    content: "\e925";
}

.icon-radio-unchecked:before {
    content: "\e926";
}

.icon-sapr:before {
    content: "\e927";
}

.icon-search:before {
    content: "\e928";
}

.icon-social-discord:before {
    content: "\e92a";
}

.icon-social-telegram:before {
    content: "\e92b";
}

.icon-social-vk:before {
    content: "\e92c";
}

.icon-social-youtube:before {
    content: "\e92d";
}

.icon-star:before {
    content: "\e92e";
}

.icon-star-filled:before {
    content: "\e930";
}

.icon-tablet:before {
    content: "\e931";
}

.icon-task-tracker:before {
    content: "\e932";
}

.icon-verify:before {
    content: "\e933";
}

.icon-video-conference:before {
    content: "\e935";
}

.icon-virtual-atc:before {
    content: "\e936";
}