.nav{
  // padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__wrapper{
      width: 332px;
      display: flex;
      justify-content: space-between;  
      &-logo{
          // width: 195px;
          height: 40px;
          display: flex;
          align-items: center;
          text-decoration: none;
          color: ($black);
          column-gap: 4px;
      }
      &-categories{
          width: 139px;
          height: 40px;
      }
  }
  &__search{
      width: 442px;
      height: 40px;
  }
  &__links{
      display: flex;
      justify-content: space-between;
      width: 326px;
      & > .btn:active {
        color: ($white);
      }       
      &-link{
          height: 40px;
          color: $white;
      }
  }    
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  position: sticky;
  z-index: 1;
  top: 0px;
  z-index: 1;
}

.nav__search {
  padding-left: 10px;
  position: relative;
}

.search-area {
  display: block;
  width: 430px;
  height: 40px;
  padding: 0 40px;
  border: 1px solid #2C68E7;
  border-radius: 15px;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.search-img {
  position: absolute;
  top: 8px;
  right: 22px;
  color: ($blue-4);
  opacity: .8;
}
