.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__wrapper{
      width: 332px;
      display: flex;
      justify-content: space-between;  
      &-logo{
          // width: 195px;
          height: 40px;
          display: flex;
          align-items: center;
          text-decoration: none;
          color: ($black);
          column-gap: 4px;
      }
      &-categories{
          width: 125px;
          // height: 40px;
      }
  }
  &__search{
      // width: 442px;
      height: 40px;
  }
  &__links{
      display: flex;
      justify-content: space-between;
      width: 325px;
      & > .btn {
        color: ($white);
      }       
      &-link{
          height: 40px;
          color: $white;
      }
  }    
}

header {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  position: sticky;
  z-index: 1;
  top: 0px;
  z-index: 1;
  background-color: $blue-3;
  box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

header.header_transparent {
  background-color: transparent;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.btn-primary.btnb2_transparent {
  border: $border-size solid $blue-4;
  background: $blue-4;
}

.btnb2 {
  border: $border-size solid $blue-2;
  background: $blue-2;
  height: 40px;
}

.btnb2_transparent {
  background: transparent;
}

.header_transparent {
  box-shadow: 0px 0px rgba(6, 20, 29, 0.2);
}

.nav__wrapper-logo {
  color: $white;
}

.header_logo_color {
  color: $black;
}

.nav__search {
  padding-left: 10px;
  position: relative;
}

.search-area {
  display: block;
  width: 404px;
  height: 40px;
  padding: 0 20px;
  border: 1px solid $blue-4;
  border-radius: 8px;
  outline: none;
}

.search-img {
  position: absolute;
  top: 10px;
  right: 15px;
  color: $blue-4;
}

.btnc2:hover {
  // color: $gray-2;
  border: 1px solid $gray-2;
}

.btnc3:hover {
  color: $gray-2;
}


// @media (max-width: 1024px) {
//   .search-area {
//     display: block;
//     width: 282px;
//     height: 40px;
//     padding: 0 20px;
//     border: 1px solid $blue-4;
//     border-radius: 8px;
//     outline: none;
//   }

//   .nav__wrapper-logo {
//     padding-left: 20px;
//   }
  
// }