.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__wrapper{
      width: 332px;
      display: flex;
      justify-content: space-between;  
      &-logo{
          // width: 195px;
          height: 40px;
          display: flex;
          align-items: center;
          text-decoration: none;
          color: ($black);
          column-gap: 4px;
      }
      &-categories{
          width: 139px;
          height: 40px;
      }
  }
  &__search{
      width: 442px;
      height: 40px;
  }
  &__links{
      display: flex;
      justify-content: space-between;
      width: 325px;
      & > .btn:active {
        color: ($white);
      }       
      &-link{
          height: 40px;
          color: $white;
      }
  }    
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  position: sticky;
  z-index: 1;
  top: 0px;
  z-index: 1;
  background-color: $blue-3; 
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

header.header_transparent {
  background-color: transparent;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.nav__search {
  padding-left: 10px;
  position: relative;
}

.search-area {
  display: block;
  width: 404px;
  height: 44px;
  padding: 0 40px;
  border: 1px solid $blue-4;
  border-radius: 15px;
  outline: none;
}

.search-img {
  position: absolute;
  top: 12px;
  right: 55px;
  color: ($blue-4);
}

.btnc2:hover {
  color: $gray-2;
}