.proto_block {
    display: flex;
    justify-content: center;
    width: 1120px;
    height: 436px;
    margin-top: 64px;
}
.hero__text_block {
    display: flex;
    flex-direction: column;
  
}
.hero__text_block_header {
    width: 550px;
    height: 80px;
    font-weight: var(--medium);
}
.hero__text_block_text {
    width: 550px;
    height: 260px;
    margin-top: 24px;
    color: #222222;
    font-size: var(--sizeBase);
    line-height: var(--heightBase);
    font-style: normal;
    font-weight: 300;
}
.hero__image {
    width: 550px;
    height: 436px;
    margin-left: 35px;
}
.integrators { 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1120px;
    height: 606px;
    padding-bottom: 40px;
    margin-top: 48px;
}
.integrators_block_header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1120px;
    height: 36px;
}
.integrator__block_cards{
    display: flex;
    margin-top: 48px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.integrator__block_cards_elem{
    display: flex;
    flex-direction: column;
    width: 265px;
    height: 237px;
    border-radius: 12px;
    border: 1px solid $gray-3;
    margin-top: 32px;
    background: #fff;
}
.integrator__block_cards_elem_image{
    max-width: 230px;
    margin-top: 12px;
    margin-left: 12px;
}
.integrator__block_cards_elem_header{
    display: flex;
    flex-direction: row;
    width: 260px;
    height: 28px;
    margin-top: 4px;
    margin-left: 12px;
}
.integrators_link{
    width: 15px;
    height: 15px;
    margin-top: 5px;
    margin-left: 10.5px;
}
.integrator__block_cards_elem_text{
    color: $gray-3;
    margin-top: 4px;
    margin-left: 12px;
}


@media screen and (max-width: 1024px) {
    .proto_block {
        width: 960px;
        height: 396px;
        margin-left: 32px;
    }
    .hero__text_block {
        display: flex;
        flex-direction: column;
    }
    .hero__text_block_header {
        width: 470px;
        height: 72px;
        font-size: var(--sizeH3);
        line-height: var(--heightH3);
    }
    .hero__text_block_text {
        width: 470px;
        height: 300px;
        margin-top: 24px;
    }
    .hero__image {
        width: 470px;
        height: 379px;
        margin-left: 33px;
    }
    .integrators { 
        width: 1024px;
        height: 856px;
        margin-left: 32px;
        margin-top: 128px;
    }
    .integrators_block_header{
        width: 960px;
        height: 36px;
    }
    .integrator__block_cards{
        margin-top: 64px;
    }
    .integrator__block_cards_elem{
        width: 225px;
        height: 229px;
    }
    .integrator__block_cards_elem_image{
        width: 200px;
        height: auto;
    }
    .integrator__block_cards_elem_header{
        h5{
            font-size: var(--sizeBase);
            line-height: var(--heightBase);
        }
    }
    .integrators_link{
        width: 15px;
        height: 15px;  
        margin-top: 0; 
    }
    .integrator__block_cards_elem_text{
        color: $gray-3;
        width: 201px;
        height: 40px;
        margin-top: 4px;
        margin-left: 12px;
        p{
            font-size: var(--sizeSmall);
            line-height: var(--heightSmall);
        }
    }
}