.main__text-h1 {
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
}

.main__text-btns {
  width: 360px;
}

.main__img-bg{
  position: absolute;
  z-index: -1;
  top: -334px;
  left: -120px;
}

.main__img-pic{
  position: absolute;
  right: -52px;
}
.breadcrumb {
  display: flex;
  align-items: center;
  margin: 20px 0px;
}
.breadcrumb__icon-home {
  color: $blue-6;
  margin-right: 4px;
}

.breadcrumb__icon {
  color: $blue-6;
  margin: 0px 8px;
}

.breadcrumb__page-current {
  color: $gray-3;
}

.breadcrumb__page-link {
  color: $black;
  text-decoration: none;
}

.breadcrumb__page-link:hover {
  color: $blue-6;
}