@media (max-width:1024px){
    header{
        padding: 0 32px;
        box-sizing: border-box;
        .nav__links{
            .btn{
                font-size: 13px;
            }
        }
    }
    main{
        padding: 0 32px;
        box-sizing: border-box;
    }
    section{
        padding: 0 32px;
        box-sizing: border-box;
    }
    .footer__background{
        padding: 0 32px;
        box-sizing: border-box;
    }
    //HOME

    .main{
        padding-top: 77px;
        &__img{
            width: 470px;
            &-pic{
                width: 470px;
                height: 401px;
            }
            &-bg{
                width: 175.74%;
                height: 790px;
                top: -270px;
                left: -72px;
            }
        }
        &__text{
            &-btns *{
                    width: 144px;
                    height: 40px;
            }
            &-h1{
                h3{
                    font-size: 30px;
                }
        }
        }
    }

    .blockcategory-navmenu{
        width: 37%;
    }

    .category{
        width: 63%;
    }

    .category-container{
        .base{
            font-size: 14px;
        }
    }

    .blockcategory-navmenu-navigation li .font-regular{
        font-size: 16px;
    }

    .partnersblocks-partners{
        max-width: 470px;
    }

    .partnersblocks-partners-banner{
        margin-top: 0;
        grid-template-columns: repeat(3, 143px);
    }
    
}

@media (max-width:960px){
    //HOME
    .partnersblocks-partners-banner{
        grid-template-columns: repeat(3, 111px);
    }
}

@media (max-width:768px){
        //HOME
        main{
            .main{
                padding-top: 0;
                padding-bottom: 96px;
                &__img{
                    padding-top: 44px;
                    width: 35.29%;
                    height: auto;
                    &-pic{
                        width: 100%;
                        height: auto;
                        right: 0;
                    }
                    &-bg{
                        width: 197.66%;
                        height: auto;
                        top: -137px;
                        left: -110px;
                    }
                }
                &__text{
                    margin-top: 40px;
                    width: auto;
                    &-h1{
                        h3{
                            font-size: 24px;
                        }
                        }
                }
            }
        }
        .blockcategory{
            padding-bottom: 112px;
            .category{
                width: 61.36%;
                display: block;
                &-container{
                    max-width: 100%;
                    margin-bottom: 16px;
                }
            }
            &-navmenu{
                width: 38.64%;
                &-navigation{
                    max-width: 252px;
                }
            }
        }

        .banner{
            h2{
                font-size: 30px;
            }
        }

        .self-promotion-block__frame{
            display: block;
            & *{
                margin-bottom: 20px;
            }
        }
        .partnersblocks{
            margin-top: 44px;
            flex-direction: column;
            min-height: 533px;
            .partnerreviews{
                order: -1;
                max-width: 704px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .comment-wrapper{
                    margin-left: 17px;
                }
            }
            .partnersblocks-partners{
                max-width: 100%;
                width: 100%;
                height: auto;
            }
            &-partners-banner{
                grid-template-columns: repeat(3, 32.53%);
                max-width: 100%;
            }
        }
}

@media (max-width:576px){
    main{
        .main{
            &__img-bg{
                top: -19px;
                left: -26px;
            }
        }
    }
}

@media (max-width:375px){
    header{
        padding: 0 16px;
    }
    main{
        padding: 0 16px;
    }
    section{
        padding: 0 16px;
    }
    .footer__background{
        padding: 0 16px;
    }
    //HOME
    main{
        .main{
            padding-top: 20px;
            padding-bottom: 32px;
            flex-direction: column;
            &__img{
                width: 100%;
                height: 293px;
                &-pic{
                    width: 91.47%;
                    height: auto;
                    margin-top: 24px;
                }
                &-bg{
                    display: none;
                }
            }
            &__text{
                text-align: center;
                margin-top: 0;
                &-h1{
                    h3{
                        font-size: 24px;
                    }
                    }
                &-btns{
                    width: auto;
                }
                &-btns *{
                    width: 166px;
                    height: 40px;
                }
            }
        }
    }
    .blockcategory{
        padding-bottom: 40px;
        &-navmenu{
            width: 100%;
        }
        .category{
            display: none;
        }
        .blockcategory-navmenu-navigation{
            max-width: 100%;
            .active{
                background: #FFFFFF;
                span{
                    color: $blue-7;
                }
                h6{
                    color: #000;
                }
            }
        }
    }
    .banner{
        height: auto;
        min-height: 334px;
        background: url(/img/background/MobileBanner.jpg) center bottom/cover no-repeat;
        &__h2{
            height: auto;
        }
        &__text-content *{
            width: 100%;
        }
        &__text{
            height: auto;
        }
        &__content{
            a{
                margin-top: 16px;
            }
        }
    }
    .partnersblocks-partners-banner *:nth-child(n+7){
        display: none;
    }
    .partnersblocks-partners-banner {
        grid-template-columns: repeat(2, 50%);
    }
    .bevel{
        display: none;
    }
    .upper{
        flex-direction: column;
        .about{
            a{
                display: block;
            }
        }
    }
    .under{
        height: auto;
        padding: 32px 0;
        flex-direction: column;
        .company__text{
            text-align: center;
        }
        .contacts__list{
            margin-top: 10px;
        }
    }
}