.main {

  padding-top: 87px;
  padding-bottom: 128px;
  display: flex;
  justify-content: space-between;

  &__text {
    margin-top: 53px;
    width: 550px;

    &-h1 {
      height: 120px;
    }

    &-subtitle {
      height: 20px;
      margin-top: 24px;
      font-size: 18px;
    }

    &-btns {
      margin-top: 64px;
      width: 360px;
      display: flex;
      justify-content: space-between;

      * {
        width: 170px;
        height: 52px;
      }
    }
  }

  &__img {
    position: relative;
    width: 507px;
    height: 443px;
  }
}

.categories {
  &__h3 {
    width: 442px;
    height: 38px;
    margin: 0 auto;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
  }

  &__pages {
    height: 352px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    * {
      width: 359px;
      height: 40px;
    }
  }

  &__products {
    max-width: 740px;
    height: 428px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    * {
      width: 360px;
      height: 132px;
    }
  }
}

.banner {
  padding: 32px;

  &__h2 {
    width: 423px;
    height: 80px;
  }

  &__text {
    margin-top: 16px;
    width: 423px;
    height: 48px;
  }

  &__btn {
    margin-top: 52px;
    width: 153px;
    height: 52px;
  }
}

.info {
  padding-top: 88px;

  &__h2 {
    width: 310px;
    height: 47px;
    margin: 0 auto;
  }

  &__blocks {
    margin-top: 46px;
    display: flex;
    justify-content: space-between;

    &-block {
      padding: 8px;
      box-sizing: border-box;
      width: 360px;
      display: flex;
      justify-content: space-between;

      .img {
        width: 64px;
        height: 64px;
      }

      .info-title {
        width: 272px;
        height: 28px;
      }

      .info-text {
        margin-top: 8px;
        width: 272px;
        height: 80px;
      }
    }
  }
}

.partners {
  padding-top: 64px;
  display: flex;
  justify-content: space-between;

  &__logos {
    margin-top: 10px;
    width: 550px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-logo {
      margin-top: 32px;
      width: 170px;
      height: 80px;
    }
  }

  &__comment {
    width: 550px;

    &-slider {
      width: 265px;
      display: flex;
      justify-content: space-between;

      * {
        width: 28px;
        height: 8px;
      }
    }

    &-card {
      margin-top: 32px;
      padding: 30px;
      width: 550px;
      height: 172px;

      .partners__comment-wrapper {
        width: 228px;
        display: flex;
        justify-content: space-between;

        .partners__comment-img {
          width: 64px;
          height: 64px;
        }

        .partners__comment-text {
          .header {
            width: 148px;
            height: 32px;
          }

          .sub__header {
            width: 63px;
            height: 16px;
          }
        }
      }

      p {
        margin-top: 8px;
        width: 490px;
        height: 40px;
      }
    }
  }
}

.footer {
  margin-top: 146px;

  &__top {
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo {
      width: 163px;
      height: 36px;
    }

    &-links {
      width: 297px;
      display: flex;
      justify-content: space-between;

      * {
        width: 65px;
        height: 36px;
      }
    }
  }

  .hr {
    height: 1px;
    width: 100%;
  }

  &__bottom {
    padding-top: 32px;
    padding-bottom: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-text {
      width: 890px;
      height: 40px;
    }

    &-socials {
      width: 144px;
      height: 24px;
      display: flex;
      justify-content: space-between;

      * {
        width: 24px;
        height: 24px;
      }
    }
  }
}

body.modal-open {
  overflow: hidden;
}