.path {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 16px;
  padding: 20px 0px;
  
}
.path > span{
  color: $blue-6
}
.path-text {
  color: $gray-3;
  margin: 0px 4px;

}
.path__text-active{
  color: $blue-6;
}
.product__header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 310px;
  max-width: 1120px;
  margin-bottom: 24px;
}

.product__upper {
  height: 198px;
  max-width: 1120px;
  position: relative;
  overflow: hidden;

  box-sizing: border-box;
  outline: 1px solid #B3B3B3;
  border-radius: 12px 12px 0px 0px;

}
.product__upper-img {
  // width: 100%;
  // height: 198px;
  height: auto;
  max-width: 1120px;
  width: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
  box-sizing: border-box;
}

.product__under {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 30px;
  gap: 24px;
  isolation: isolate;

  width: 1120px;
  height: 112px;

  /* BG/White */

  background: $white;
  /* Stroke/Grey */

  border-width: 0px 1px 1px 1px;
  outline: 1px solid $gray-2;
  // border-style: solid;
  // border-color: $gray-2;
  border-radius: 0px 0px 12px 12px;
  position: relative;
}

.product__logo {
  box-sizing: border-box; 

  display: flex;
  flex-direction: row;
  align-items: flex-start;



  width: 144px;
  height: 144px;

  padding: 8px;

  margin-bottom: 73px;
  // margin-left: 30px;

  /* Stroke/Grey */

  outline: 1px solid $gray-2;
  border-radius: 12px;
  background: $white;
  z-index: 500;
}
.product__logo-img {
  width: 128px;
  height: 128px;

}

.product__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 6px;

  width: 756px;
  height: 80px;
}
.info__text {
  color: $gray-3;
}
// .product__raiting {
//   display: flex;
//   flex-direction: row;
//   // justify-content: center;
//   align-items: center;
//   gap: 4px;

//   width: 137px;
//   height: 20px;
// }

.icon-star-filled {
  color: $orange;
}

.product__content-main {
  display: flex;
  justify-content: space-between;
}
.product__navbar {
  
  box-sizing: border-box; 
  display: flex;
  // flex-direction: column;
  // align-items: flex-start;
  padding: 16px;
  // gap: 12px;

  // width: 265px;
  height: 310px;

  margin-right: 20px;
  /* Stroke/Grey */

  outline: 1px solid $gray-2;
  border-radius: 12px;
  background-color: #FFFFFF;
}

.product__navbar.fixed{
  position: fixed;
  top: 86px;
}

.navbar__item {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0px;
  gap: 4px;

  width: 233px;
  // height: 36px;

  margin-bottom: 12px;
  /* Header/RoyalBlue */
  background: $white;
  color: black;
  border-radius: 4px;
}

.navbar-link {
  text-decoration: none;
  color: $black;
}

.navbar__list li{
  list-style: none;
}

.product__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 8px;

  width: 112px;
  height: 52px;
  
  // margin-right: 30px;
  // margin-bottom: 14px;

  /* Inputs/RoyalBlue */

  background: $blue-4;
  border-radius: 12px;
}

a.button {

  width: 72px;
  height: 24px;
  padding: 14px 20px;

  text-align: center;

  /* Inputs/White */

  color: $white;

  text-decoration: none;
}
.product{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
  left: 273px;
}

.product__main-description {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;

  width: 835px;

  padding: 16px;
  margin-bottom: 20px;
  /* BG/White */

  background: $white;
  /* Stroke/Grey */

  border: 1px solid $gray-2;
  border-radius: 12px;


}
.product__main-features {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 24px;

  width: 835px;
  height: 192px;

  margin-bottom: 20px;
  /* BG/White */

  background: $white;
  /* Stroke/Grey */

  border: 1px solid $gray-2;
  border-radius: 12px;
}
.product__features-columns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  
  width: 803px;
  height: 104px;
}
.feature-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 200px;
  height: 104px;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.feature {
  
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;
  height: 24px;
}
.icon-checkmark-circle {
  color: $blue-7;
}

.product__main-tech-info {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 16px;
  gap: 24px;

  width: 835px;
  height: 272px;

  margin-bottom: 20px;
  /* BG/White */

  background: $white;
  /* Stroke/Grey */

  border: 1px solid $gray-2;
  border-radius: 12px;


}
.main__tech-info-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 803px;
  height: 184px;


}
.line__tech-info {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 803px;
  height: 40px;
}
.tech__category {
  width: 200px;
  margin-right: 20px;
  color: $blue-7;
}

.product__main-media {
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 24px;
  
  width: 835px;
  margin-bottom: 20px;
  
  /* BG/White */
  
  background: $white;
  /* Stroke/Grey */
  
  border: 1px solid $gray-2;
  border-radius: 12px;
}    

.product__main-media-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 803px;
  height: 352px;
}

.product__main-vid-rev {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 803px;
  height: 164px;
}
.vid-rev-title {
  color: $blue-7;
}
.videos {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  width: 803px;
  height: 124px;

}

.video {
  border: 1px solid $gray-2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 186px;
  height: 124px;

}

.product__main-screen {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  
  width: 803px;
  height: 164px;     
}
.screen-title {
  color: $blue-7;
}
.screenshots {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  width: 803px;
  height: 124px;

}
.screen {
  border: 1px solid $gray-2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 186px;
  height: 124px;

}

.product__main-analog {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 16px;
  gap: 24px;

  width: 835px;
  height: 108px;

  margin-bottom: 20px;
  /* BG/White */

  background: #FFFFFF;
  /* Stroke/Grey */

  border: 1px solid $gray-2;
  border-radius: 12px;

  /* Inside auto layout */

  // flex: none;
  // order: 4;
  // align-self: stretch;
  // flex-grow: 0;
}


.product__comments-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 835px;
  margin-bottom: 20px;

}

.product__comment {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 8px;

  width: 835px;
  // height: 108px;

  /* BG/White */

  background: $white;
  /* Stroke/Grey */

  border: 1px solid $gray-2;
  border-radius: 12px;
}
.comment-user {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;

  // width: 168px;
  // height: 48px;
  }
.user--avatar {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;

  width: 48px;
  height: 48px;

  /* Stroke/Grey */

  outline: 1px solid #B3B3B3;
  border-radius: 24px;
}
.user--title {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  // width: 108px;
  // height: 48px;
}

.product__comments-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 835px;
  height: 375px;
  margin-bottom: 40px;
}

.product__comm-inputs {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.comment__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 12px;

  width: 408px;
  height: 144px;
  }

input.comment__input-left {
  box-sizing: border-box;

  /* Auto layout */
  
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  
  width: 408px;
  height: 40px;
  
  /* BG/White */
  
  background: #FFFFFF;
  /* Stroke/RoyalBlue */
  
  border: 1px solid #2C68E7;
  border-radius: 12px;

}

.comment__right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  justify-content: flex-start;
  align-content: flex-start;
  
  gap: 16px;
}

.comment__input-right {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;

  width: 407px;
  height: 144px;

  /* BG/White */

  background: $white;
  /* Stroke/RoyalBlue */

  border: 1px solid $blue-4;
  border-radius: 20px;

}

.product__comment-captcha {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 16px 16px;
  gap: 8px;

  width: 347px;
  height: 102px;

  /* BG/White */

  background: $white;
  /* Stroke/RoyalBlue */

  border: 1px solid $blue-4;
  border-radius: 12px;
}

.product__comment-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  gap: 9px;
  
  width: 113px;
  height: 40px;
  
  /* Header/RoyalBlue */
  
  background: $blue-4;
  border-radius: 8px;
  

}

.comment__button {
  text-align: center;
  padding: 10px 16px;
  text-align: center;
  color: $white; 
  
}