:root {
  /* Weight */
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;

  /* Heading */
  --sizeH1: 48px;
  --sizeH2: 36px;
  --sizeH3: 30px;
  --sizeH4: 24px;
  --sizeH5: 20px;
  --sizeH6: 18px;
  --heightH1: 48px;
  --heightH2: 40px;
  --heightH3: 36px;
  --heightH4: 32px;
  --heightH5: 28px;
  --heightH6: 24px;

  /* Body */
  --sizeLarge: 18px;
  --sizeBase: 16px;
  --sizeSmall: 14px;
  --sizeXSmall: 12px;
  --heightLarge: 24px;
  --heightBase: 20px;
  --heightSmall: 16px;
  --heightXSmall: 16px;

  /* OVERLINE */
  --overline: 0.1em;
}

// Weight
.font-regular {
  font-weight: var(--regular);
}

.font-medium {
  font-weight: var(--medium);
}

.font-semibold {
  font-weight: var(--semiBold);
}

.font-bold {
  font-weight: var(--bold);
}

// Heading
h1 {
  font-size: var(--sizeH1);
  line-height: var(--heightH1);
}

h2 {
  font-size: var(--sizeH2);
  line-height: var(--heightH2);
}

h3 {
  font-size: var(--sizeH3);
  line-height: var(--heightH3);
}

h4 {
  font-size: var(--sizeH4);
  line-height: var(--heightH4);
}

h5 {
  font-size: var(--sizeH5);
  line-height: var(--heightH5);
}

h6 {
  font-size: var(--sizeH6);
  line-height: var(--heightH6);
}

// Body
.text-lg {
  font-size: var(--sizeLarge);
  line-height: var(--heightLarge);
}

.text-base {
  font-size: var(--sizeBase);
  line-height: var(--heightBase);
}

.text-sm {
  font-size: var(--sizeSmall);
  line-height: var(--heightSmall);
}

.text-xsm {
  font-size: var(--sizeXSmall);
  line-height: var(--heightXSmall);
}

.text-overline {
  letter-spacing: var(--overline);
  text-transform: uppercase;
}
