$royal-blue: #2C68E7;
$blue-yonder: #466EAF;
$dark-blue: #1E3A8A;

$lg-btn-border-radius: 12px;
$btn-border-radius: 8px;
$sm-btn-border-radius: 6px;

$lg-btn-padding: 14px 20px;
$lg-btn-gap: 8px;
$btn-padding: 10px 16px;
$btn-gap: 9px;
$sm-btn-padding: 8px 12px;
$sm-btn-gap: 6px;

$border-size: 2px;

.btn {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* Text layout */
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;

    /* Default params */
    color: black; // text colour
    background: white;
    padding: $btn-padding;
    gap: $btn-gap;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    border-radius: $btn-border-radius;
}

.btn-lg {
    padding: $lg-btn-padding;
    gap: $lg-btn-gap;

    font-size: 18px;
    line-height: 24px;
    border-radius: $lg-btn-border-radius;
}

.btn-sm {
    padding: $sm-btn-padding;
    gap: $sm-btn-gap;

    font-size: 14px;
    line-height: 16px;
    border-radius: $sm-btn-border-radius;
}

.btn-primary {
    background: $royal-blue;
    color: white;
}

.btn-primary-hover {
    background: $blue-yonder;
    color: white;
}

.btn-primary-active {
    background: $dark-blue;
    color: white;
}

.btn-outline-primary {
    border: $border-size solid $royal-blue;
}

.btn-outline-primary-hover {
    border: $border-size solid $blue-yonder;
}

.btn-outline-primary-active {
    border: $border-size solid $dark-blue;
}