* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    font-style: normal;
}

.container {
    width: 1120px;
    margin: 0 auto;
}

@import 'data/proto.scss',
'data/buttons.scss',
'data/self-promotion-block.scss',
'data/category.scss',
'data/reviews.scss',
'data/header.scss',
'data/footer.scss',
'data/colors.scss',
'data/typography.scss',
'data/main.scss'