@import 'data/colors.scss',
'data/typography.scss',
'data/fonts.scss';


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Flex', sans-serif;
    font-style: normal;
}

body{
    overflow-x: hidden;
}

.container {
    width: 1120px;
    margin: 0 auto;
}

@import 'data/proto.scss',
'data/buttons.scss',
'data/self-promotion-block.scss',
'data/category.scss',
'data/reviews.scss',
'data/header.scss',
'data/footer.scss',
'data/banner.scss',
'data/main.scss',
'data/background.scss';


@import 'product-main.scss'
